<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.google.testairplaneencyclopedia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".fighter_jets.DassaultRafaleActivity"
            android:label="Dassault Rafale" />
        <activity
            android:name=".fighter_jets.DassaultMirage2000Activity"
            android:label="Dassault Mirage 2000" />
        <activity
            android:name=".fighter_jets.SepecatJaguarActivity"
            android:label="Sepecat Jaguar" />
        <activity
            android:name=".fighter_jets.EurofighterTyphoonActivity"
            android:label="Eurofighter Typhoon" />
        <activity
            android:name=".helicopters.Bell_ah1Z_ViperActivity"
            android:label="Bell AH1Z Viper"
            android:screenOrientation="portrait" />
        <activity
            android:name=".others.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".categories.SecondActivity"
            android:label="Categories"
            android:screenOrientation="portrait" />
        <activity
            android:name=".others.HelpActivity"
            android:label="Help"
            android:screenOrientation="portrait" />
        <activity
            android:name=".others.ContactUsActivity"
            android:label="Contact Us"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civil.CivilAirplanesActivity"
            android:label="Airplanes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fighter_jets.FighterJetsActivity"
            android:label="Fighter Jets"
            android:screenOrientation="portrait" />
        <activity
            android:name=".carriage.CarriageAirplanesActivity"
            android:label="Carriage Airplanes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civil.AirbusActivity"
            android:label="Airbus"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AntonovActivity"
            android:label="Antonov"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civil.BoeingActivity"
            android:label="Boeing"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IlyushinActivity"
            android:label="Ilyushin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TopolevActivity"
            android:label="Tupolev"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fighter_jets.F4Activity"
            android:label="F-4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fighter_jets.F5Activity"
            android:label="F-5"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fighter_jets.F14Activity"
            android:label="F-14"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fighter_jets.F15Activity"
            android:label="F-15"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fighter_jets.F18Activity"
            android:label="F-18"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fighter_jets.F22Activity"
            android:label="F-22"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fighter_jets.F35Activity"
            android:label="F-35"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fighter_jets.Mig21Activity"
            android:label="Mig-21"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fighter_jets.Mig23Activity"
            android:label="Mig-23"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fighter_jets.Mig25Activity"
            android:label="Mig-25"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fighter_jets.Mig29Activity"
            android:label="Mig-29"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fighter_jets.Mig31Activity"
            android:label="Mig-31"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fighter_jets.Su24Activity"
            android:label="Su-24"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fighter_jets.Su25Activity"
            android:label="Su-25"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fighter_jets.Su34Activity"
            android:label="Su-34"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fighter_jets.Su35Activity"
            android:label="Su-35"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civil.A300Activity"
            android:label="A 300"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civil.A310Activity"
            android:label="A 310"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civil.A318Activity"
            android:label="A 318"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civil.A319Activity"
            android:label="A 319"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civil.A320Activity"
            android:label="A 320"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civil.A321Activity"
            android:label="A 321"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civil.A330Activity"
            android:label="A 330"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civil.A340Activity"
            android:label="A 340"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civil.A350Activity"
            android:label="A 350"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civil.A380Activity"
            android:label="A 380"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civil.Boeing707Activity"
            android:label="Boeing 707"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civil.Boeing717_200Activity"
            android:label="Boeing 717-200"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civil.Boeing737OriginalActivity"
            android:label="Boeing 737-Original"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civil.Boeing737ClassicActivity"
            android:label="Boeing 737-Classic"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civil.Boeing737NGActivity"
            android:label="Boeing 737-NG"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civil.Boeing737MaxActivity"
            android:label="Boeing 737-Max"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civil.Boeing747Activity"
            android:label="Boeing 747"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civil.Boeing747_8Activity"
            android:label="Boeing 747-8"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civil.Boeing757Activity"
            android:label="Boeing 757"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civil.Boeing767Activity"
            android:label="Boeing 767"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civil.Boeing777Activity"
            android:label="Boeing 777"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civil.Boeing777_XActivity"
            android:label="Boeing 777-X"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civil.Boeing787Activity"
            android:label="Boeing 787"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civil.Boeing720Activity"
            android:label="Boeing 720"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civil.Boeing727Activity"
            android:label="Boeing 727"
            android:screenOrientation="portrait" />
        <activity
            android:name=".A40Activity"
            android:label="A 40"
            android:screenOrientation="portrait" />
        <activity
            android:name=".An2Activity"
            android:label="An 2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".An3Activity"
            android:label="An 3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".An8Activity"
            android:label="An 8"
            android:screenOrientation="portrait" />
        <activity
            android:name=".An10Activity"
            android:label="An 10"
            android:screenOrientation="portrait" />
        <activity
            android:name=".An11Activity"
            android:label="An 11"
            android:screenOrientation="portrait" />
        <activity
            android:name=".An12Activity"
            android:label="An 12"
            android:screenOrientation="portrait" />
        <activity
            android:name=".An13Activity"
            android:label="An 13"
            android:screenOrientation="portrait" />
        <activity
            android:name=".An14Activity"
            android:label="An 14"
            android:screenOrientation="portrait" />
        <activity
            android:name=".An22Activity"
            android:label="An 22"
            android:screenOrientation="portrait" />
        <activity
            android:name=".An24Activity"
            android:label="An 24"
            android:screenOrientation="portrait" />
        <activity
            android:name=".An26Activity"
            android:label="An 26"
            android:screenOrientation="portrait" />
        <activity
            android:name=".An30Activity"
            android:label="An 30"
            android:screenOrientation="portrait" />
        <activity
            android:name=".An32Activity"
            android:label="An 32"
            android:screenOrientation="portrait" />
        <activity
            android:name=".An38Activity"
            android:label="An 38"
            android:screenOrientation="portrait" />
        <activity
            android:name=".An50Activity"
            android:label="An 50"
            android:screenOrientation="portrait" />
        <activity
            android:name=".An70Activity"
            android:label="An 70"
            android:screenOrientation="portrait" />
        <activity
            android:name=".An71Activity"
            android:label="An 71"
            android:screenOrientation="portrait" />
        <activity
            android:name=".An72Activity"
            android:label="An 72"
            android:screenOrientation="portrait" />
        <activity
            android:name=".An74Activity"
            android:label="An 74"
            android:screenOrientation="portrait" />
        <activity
            android:name=".An124Activity"
            android:label="An 124"
            android:screenOrientation="portrait" />
        <activity
            android:name=".An132Activity"
            android:label="An 132"
            android:screenOrientation="portrait" />
        <activity
            android:name=".An140Activity"
            android:label="An 140"
            android:screenOrientation="portrait" />
        <activity
            android:name=".An148Activity"
            android:label="An 148"
            android:screenOrientation="portrait" />
        <activity
            android:name=".An158Activity"
            android:label="An 158"
            android:screenOrientation="portrait" />
        <activity
            android:name=".An178Activity"
            android:label="An 178"
            android:screenOrientation="portrait" />
        <activity
            android:name=".An225Activity"
            android:label="An 225"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ilyushin2Activity"
            android:label="Ilyushin 2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ilyushin10Activity"
            android:label="Ilyushin 10"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ilyushin16Activity"
            android:label="Ilyushin 16"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ilyushin40Activity"
            android:label="Ilyushin 40"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ilyushin102Activity"
            android:label="Ilyushin 102"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IlyushinDB3Activity"
            android:label="Ilyushin DB3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ilyushin6Activity"
            android:label="Ilyushin 6"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ilyushin22Activity"
            android:label="Ilyushin 22"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ilyushin28Activity"
            android:label="Ilyushin 28"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ilyushin30Activity"
            android:label="Ilyushin 30"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ilyushin54Activity"
            android:label="Ilyushin 54"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ilyushin12Activity"
            android:label="Ilyushin 12"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ilyushin32Activity"
            android:label="Ilyushin 32"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ilyushin76Activity"
            android:label="Ilyushin 76"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ilyushin78Activity"
            android:label="Ilyushin 78"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ilyushin80Activity"
            android:label="Ilyushin 80"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ilyushin112Activity"
            android:label="Ilyushin 112"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ilyushin14Activity"
            android:label="Ilyushin 14"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ilyushin18_1946Activity"
            android:label="Ilyushin 18(1946)"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ilyushin18Activity"
            android:label="Ilyushin 18"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ilyushin62Activity"
            android:label="Ilyushin 62"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ilyushin86Activity"
            android:label="Ilyushin 86"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ilyushin96Activity"
            android:label="Ilyushin 96"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ilyushin114Activity"
            android:label="Ilyushin 114"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ilyushin103Activity"
            android:label="Ilyushin 103"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tupolev104Activity"
            android:label="Tupolev 104"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tupolev114Activity"
            android:label="Tupolev 114"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tupolev116Activity"
            android:label="Tupolev 116"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tupolev124Activity"
            android:label="Tupolev 124"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tupolev134Activity"
            android:label="Tupolev 134"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tupolev144Activity"
            android:label="Tupolev 144"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tupolev154Activity"
            android:label="Tupolev 154"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tupolev214Activity"
            android:label="Tupolev 214"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tupolev334Activity"
            android:label="Tupolev 334"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tupolev4Activity"
            android:label="Tupolev 4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tupolev14Activity"
            android:label="Tupolev 14"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tupolev16Activity"
            android:label="Tupolev 16"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tupolev20Activity"
            android:label="Tupolev 20"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tupolev22_mActivity"
            android:label="Tupolev 22_M"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tupolev128Activity"
            android:label="Tupolev 128"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tupolev126Activity"
            android:label="Tupolev 126"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tupolev142Activity"
            android:label="Tupolev 142"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tupolev160Activity"
            android:label="Tupolev 160"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tupolev1Activity"
            android:label="Tupolev 1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tupolev8Activity"
            android:label="Tupolev 8"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tupolev70Activity"
            android:label="Tupolev 70"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tupolev75Activity"
            android:label="Tupolev 75"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tupolev80Activity"
            android:label="Tupolev 80"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tupolev85Activity"
            android:label="Tupolev 85"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tupolev95_lalActivity"
            android:label="Tupolev 95LAL"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tupolev110Activity"
            android:label="Tupolev 110"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tupolev155Activity"
            android:label="Tupolev 155"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tupolev2Activity"
            android:label="Tupolev 2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tupolev22Activity"
            android:label="Tupolev 22"
            android:screenOrientation="portrait" />
        <activity
            android:name=".carriage.C130Activity"
            android:label="C-130"
            android:screenOrientation="portrait" />
        <activity
            android:name=".carriage.C5Activity"
            android:label="C-5"
            android:screenOrientation="portrait" />
        <activity
            android:name=".carriage.C12Activity"
            android:label="C-12"
            android:screenOrientation="portrait" />
        <activity
            android:name=".carriage.C17Activity"
            android:label="C-17"
            android:screenOrientation="portrait" />
        <activity
            android:name=".carriage.C26Activity"
            android:label="C-26"
            android:screenOrientation="portrait" />
        <activity
            android:name=".carriage.C130jActivity"
            android:label="C-130J"
            android:screenOrientation="portrait" />
        <activity
            android:name=".carriage.C144Activity"
            android:label="C-144"
            android:screenOrientation="portrait" />
        <activity
            android:name=".carriage.C146Activity"
            android:label="C-146"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civil.FokkerActivity"
            android:label="Fokker"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civil.Fokker25Activity"
            android:label="Fokker 25"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civil.Fokker27Activity"
            android:label="Fokker 27"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civil.Fokker28Activity"
            android:label="Fokker 28"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civil.Fokker50Activity"
            android:label="Fokker 50"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civil.Fokker70Activity"
            android:label="Fokker 70"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civil.Fokker100Activity"
            android:label="Fokker 100"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civil.FokkerS13Activity"
            android:label="Fokker S13"
            android:screenOrientation="portrait" />
        <activity
            android:name=".civil.FokkerS14Activity"
            android:label="Fokker S14"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.HelicoptersActivity"
            android:label="Helicopters"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.BellActivity"
            android:label="Bell"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.KamovActivity"
            android:label="Kamov"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.MilActivity"
            android:label="Mil"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.EurocopterActivity"
            android:label="Eurocopter"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Bell47Activity"
            android:label="Bell 47"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Bell47jActivity"
            android:label="Bell 47-J"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Bell204Activity"
            android:label="Bell 204"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Bell206Activity"
            android:label="Bell 206"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Bell212Activity"
            android:label="Bell 212"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Bell214Activity"
            android:label="Bell 214"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Bell214stActivity"
            android:label="Bell 214-ST"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Bell412Activity"
            android:label="Bell 412"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Bell222Activity"
            android:label="Bell 222"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Bell407Activity"
            android:label="Bell 407"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Bell427Activity"
            android:label="Bell 427"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Bell429Activity"
            android:label="Bell 429"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Bell430Activity"
            android:label="Bell 430"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Bell525Activity"
            android:label="Bell 525"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Bell_h12Activity"
            android:label="Bell H-12"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Bell_h13Activity"
            android:label="Bell H-13"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Bell_xh15Activity"
            android:label="Bell XH-15"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Bell_hslActivity"
            android:label="Bell HSL"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Bell_uh1Activity"
            android:label="Bell UH-1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Bell207Activity"
            android:label="Bell 207"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Bell_ah1cobraActivity"
            android:label="Bell AH1(Cobra)"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Bell_ah1supercobraActivity"
            android:label="Bell AH1(SuperCobra)"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Kamov20Activity"
            android:label="Kamov-20"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Kamov25Activity"
            android:label="Kamov-25"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Kamov27Activity"
            android:label="Kamov-27"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Kamov31Activity"
            android:label="Kamov-31"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Kamov35Activity"
            android:label="Kamov-35"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Kamov40Activity"
            android:label="Kamov-40"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Kamov50Activity"
            android:label="Kamov-50"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Kamov60Activity"
            android:label="Kamov-60"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Kamov18Activity"
            android:label="Kamov-18"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Kamov26Activity"
            android:label="Kamov-26"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Kamov37Activity"
            android:label="Kamov-37"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Kamov115Activity"
            android:label="Kamov-115"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Kamov226Activity"
            android:label="Kamov-226"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Mil1Activity"
            android:label="Mil-1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Mil2Activity"
            android:label="Mil-2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Mil4Activity"
            android:label="Mil-4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Mil6Activity"
            android:label="Mil-6"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Mil8Activity"
            android:label="Mil-8"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Mil10Activity"
            android:label="Mil-10"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Mil14Activity"
            android:label="Mil-14"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Mil17Activity"
            android:label="Mil-17"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Mil24Activity"
            android:label="Mil-24"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Mil26Activity"
            android:label="Mil-26"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.Mil28Activity"
            android:label="Mil-28"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.EurocopterAs532Activity"
            android:label="AS-532"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.EurocopterAs565Activity"
            android:label="AS-565"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.EurocopterEc635Activity"
            android:label="EC-635"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.EurocopterEc725Activity"
            android:label="EC-725"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.EurocopterFennecActivity"
            android:label="Fennec"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.EurocopterHH_65dolphinActivity"
            android:label="HH-65 Dolphin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.EurocopterTigerActivity"
            android:label="Tiger"
            android:screenOrientation="portrait" />
        <activity
            android:name=".helicopters.EurocopterUh72lakotaActivity"
            android:label="Uh-72 Lakota"
            android:screenOrientation="portrait" />
        <activity
            android:name=".An28Activity"
            android:label="An 28"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fighter_jets.F16Activity"
            android:label="F-16"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fighter_jets.Su27Activity"
            android:label="Su-27"
            android:screenOrientation="portrait" />
        <activity
            android:name=".others.IntroSliderActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>